@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=The+Nautigal:wght@700&family=Ubuntu:wght@400;500;700&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  border: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(10, 3, 50, 0.227);
  border-radius: 5rem;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  overflow: hidden;
}

/*navbar section styling*/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6;
}

.navbar-innner-parent {
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #c4c4c4;
}

.navbar-link-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: underline;
}

#navbar-link-list-container {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navbar-link-list-container > div {
  margin: 0px 12px;
}

.navbar a {
  color: rgb(10, 3, 50);
}

.navbar h3 {
  font-size: 50px;
  font-weight: 400;
  font-family: "The Nautigal", cursive;
}

.navbar-logo-1 {
  width: 250px;
  margin-right: 20px;
}

#navbar-menu-icon-1 {
  width: 35px;
  display: none;
}

.navbar-mobile-icon {
  display: none;
  width: fit-content;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 50%;
  justify-content: flex-end;
  background: rgb(10, 3, 50);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

#navbar-social-media-container {
  display: none;
}

#github-icon {
  font-size: 2rem;
  cursor: pointer;
  justify-content: flex-end;
  /* width: 80px;
  height: 80px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: #fff;
  background: rgb(10, 3, 50);
}

#github-icon:hover {
  color: rgb(10, 3, 50);
  background: #fff;
  transition: all 0.5s ease-in-out;
}

/*Banner section styling*/
.banner {
  color: #fff;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background: rgb(10, 3, 50);
  position: relative;
}

.banner h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: 600;
}

.banner p {
  line-height: 2;
  margin-left: 2rem;
  font-size: 1.1rem;
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.banner span {
  display: block;
  text-align: center;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  background: rgb(10, 3, 50);
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  z-index: 2;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid white;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background: rgba(10, 3, 50, 0.227);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #019398;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

/*Home section styling*/
.home-content {
  text-align: center;
}

.home-content h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 0;
}
/*This is a form style for desktop*/
.discription-title {
  display: grid;
  grid-template-columns: 70% 30%;
}
.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-section .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 330px;
  border: solid 1px black;
  border-radius: 9px;
}
.search-section input {
  font-family: "Poppins";
  border-radius: 9px;
  padding: 4px;
  width: 250px;
  height: 40px;
}
.search-section input:focus {
  font-size: 14px;
}
.search-section i {
  font-size: 30px;
}
/*card section styling*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.088);
  width: 325px;
  text-align: center;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: #fff;
  height: 400px;
  transition: 1s box-shadow;
  position: relative;
}

.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.card-details h1 {
  font-family: "Space Mono", cursive;
  text-transform: capitalize;
}

.card-details h5 {
  font-size: 15px;
}

.card-details p {
  font-family: "Space Mono", cursive;
  font-size: 15px;
}

.card:hover{
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.card:hover::before, .card:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 325px;
  height: 400px;
  background: rgb(151, 95, 255);
  box-shadow: 0 5px 35px 0px rgba(151, 95, 255, 0.289);
  border-radius: 25px;
  z-index: -10;
  animation: 1s clockwise infinite;
}

.card:hover:after {
  background: rgb(200, 124, 238);
  box-shadow: 0 5px 35px 0px rgba(200, 124, 238, 0.298);
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}


.social-icon a {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  color: rgb(10, 3, 50);
  background: rgba(10, 3, 50, 0.227);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
  margin-right: 0.3rem;
}

.social-icon a:hover {
  color: rgb(170, 166, 191);
  background: rgb(10, 3, 50);
}

.connect {
  position: relative;
  border: 2px solid rgb(10, 3, 50);
  display: inline-block;
  padding: 5px 10px;
  margin-top: 1.5rem;
}

.connect::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(10, 3, 50);
  box-shadow: 5px -8px 0 rgb(10, 3, 50), 5px 8px 0 rgb(10, 3, 50);
}

.connect::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(10, 3, 50);
  box-shadow: -5px -8px 0 rgb(10, 3, 50), -5px 8px 0 rgb(10, 3, 50);
}
/* pagination section style */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.page-details > p {
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid rgb(10, 3, 50);
  border-radius: 4px;
  margin: 10px;
}
.page-details > p:hover {
  background-color: rgba(10, 3, 50, 0.227);
}
.selected-page {
  background-color: rgba(10, 3, 50, 0.227);
}
/*help section style*/
.contribute {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contribute-container {
  padding: 50px;
  margin-bottom: 40PX;
  width: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(10, 3, 50, 0.227);
  z-index: 3;
}

.contribute-container h1 {
  color: rgb(10, 3, 50);
  font-family: "Space Mono", cursive;
  font-size: 40px;
}

.contribute-container p {
  font-family: "Space Mono", cursive;
  margin-bottom: 2rem;
}

.contribute-container h1 i {
  font-family: "Space Mono", cursive;
  color: rgb(10, 3, 50);
}

.line {
  width: 30%;
  height: 2px;
  top: 0;
  color: rgb(10, 3, 50);
  border: 2px solid;
  border-radius: 50%;
}

.click-button1 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(6, 1, 39);
  text-transform: uppercase;
}

.click-button1:hover {
  color: rgb(10, 3, 50);
  background-color: #fff;
  border: 2px solid;
  transition: all 0.5s ease-in-out;
}

/*footer section styling*/
footer .copyright {
  text-align: center;
  padding: 2rem 0;
  font-size: 1rem;
  color: #fff;
  background: rgb(10, 3, 50);
}

.lt {
  margin: 0.625rem;
  padding: 0.313rem;
}

.ltopt {
  margin: 0.063rem;
  padding: 0.313px;
}

footer .lag {
  color: #fff;
  background: rgb(10, 3, 50);
  margin-top: 1rem;
}
@media screen and (max-width: 1100px) {
  /* This is a form style for desktop */
  .discription-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 760px) {
  .navbar h3 {
    font-size: 30px;
  }

  .box {
    height: 750px;
    width: 350px;
  }

  .banner h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .banner p {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  .home-content h2 {
    font-size: 1.6rem;
  }

  .home-content p {
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .button {
    font-size: 0.9rem;
  }

  .card-details h5 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-details p {
    font-size: 28px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  /*navbar section styling*/

  #google_translate_element {
    display: none;
    padding: 10px;
    border-top: 1px solid gray;
  }

  #navbar-social-media-container {
    padding: 10px 0px;
    border-top: 1px solid gray;
  }

  .navbar-link-list {
    /* display: none; */
    top: 100%;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0px;
  }

  .navbar-logo-1 {
    width: 160px;
  }

  #navbar-menu-icon-1 {
    display: block;
  }

  #navbar-link-list-container {
    padding: 0px;
    flex-direction: column;
    display: none;
  }

  #navbar-link-list-container > div {
    padding: 10px 20px;
    width: 100%;
    border-top: 1px solid gray;
  }

  #navbar-link-list-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-mobile-icon {
    display: block;
  }

  .navbar-space-evenly-on-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
